<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
<!--<li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/user-icon.png" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Swati Kadu</p>
          </div>
        </div>
         <button class="btn btn-success btn-block">Upload File
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>--><div></div>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <!--<i class="menu-icon mdi mdi-television"></i>-->
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/upload-file" routerLinkActive="active">
        <!--<i class="menu-icon mdi mdi-notification-clear-all"></i>-->
        <span class="menu-title">Upload File</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <!--<i class="menu-icon mdi mdi-table"></i>-->
        <span class="menu-title">Transactions Table</span>
      </a>
    </li>
  </ul>
</nav>
